doctype html
html(lang="en")
  head
    //- meta(name="robots",content="noindex, nofollow")
    title New Page
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui")
    //- link(rel="shortcut icon",href="/favicon.ico")

    style.
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: none;
      }
      body {
        overflow: hidden;
      }
      html,
      body,
      #view {
        width: 100%;
        height: 100%;
      }
      #left {
        background: white;
        position: relative;
        width: 320px;
        height: 100%;
        float: left;
        overflow-y: auto;
      }
      #left img {
        width: 100%;
        height: auto;
      }
      #right {
        width: 64%;
        height: 100%;
        float: left;
      }
      #right iframe {
        width: 100%;
        height: 100%;
      }
      #template {
        width: 100%;
        height: 100%;
      }
      #print {
        display: none;
        width: 100%;
        height: 100%;
      }
      @media print {
        #left {
          display: none;
        }
        #right {
          width: 100%;
          height: auto;
        }
      }

  body#body

    #view
      #left
        .title
          | Suspendisse elementum fermentum consectetur
        .image
          .img
            img(src="http://placehold.it/1240x1620/F0F/FFF")
          .description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores totam molestiae accusamus est, laudantium, illum adipisci.
        .header_list
          ul
            li Some item
            li Another item
            li A third item
            li Number four
            li And five
        .paragraph
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.
          span Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit.
          span Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor.
          span Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in.
          span Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis.
          span Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
        .image
          img(src="http://placehold.it/1420x1240/0FF/FFF")
          .description
            | Lorem ipsum dolor sit amet
        .title
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.
        .image
          img(src="http://placehold.it/1420x1240/00F/FFF")
          .description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores totam molestiae accusamus est, laudantium, illum adipisci. Facere cupiditate, nihil, quis perferendis commodi tempore, non quos eligendi impedit doloremque, quibusdam?
        .paragraph
          p
            |«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video «Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun
        .image
          img(src="http://placehold.it/1420x1240/00F/FFF")
          .description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .paragraph
          p
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      #right
        button#printer
          | Print page
        #template
        #print
          section(data-id="1")
            .page.A4.first
              #header
                .header()
                  .title(data-item="kjhgkj")
                    | Hejhej title
                .list
              #ingress
              #body
                .left_column
                  .texts()
                    .text(data-item="lacopacs")
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
                .right_column
                  .texts()
            .page.A4
              #header
                .header()
                  .title(data-item="iuggvhjbkl")
                    | Hejhej title
                .list
              #body
                .left_column
                  .texts()
                    .text(data-item="lacopaugilhjcs")
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
                .right_column
                  .images
                    .image(data-item="56d654f654fdg")
                      img(src="http://placehold.it/2420x1400/FF0/000")
                    .image(data-item="56kj5d65")
                      img(src="http://placehold.it/1420x1240/0FF/FFF")
                    .image(data-item="asffaior8",style="opacity: 1; height: 24.0909%;")
                      img(src="http://placehold.it/1240x1620/F00/FFF")
            .page.A4
              #header
                .header()
                  .title(data-item="iugg54vhjbkl")
                    | Hejhej title
                .list
              #body
                .left_column
                  .texts()
                    .text(data-item="lacop5augilhjcs")
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
                .right_column
                  .images
                    .image(data-item="56d654f6654fdg")
                      img(src="http://placehold.it/2420x1400/FF0/000")
                    .image(data-item="5658kj5d65")
                      img(src="http://placehold.it/1420x1240/0FF/FFF")
                    .image(data-item="asffai64or8",style="opacity: 1; height: 24.0909%;")
                      img(src="http://placehold.it/1240x1620/F00/FFF")
          section(data-id="2")
            .page.A4
              #header
                .header()
                  .title(data-item="krjhgkj")
                    | Hejhej title
                .list
              #body
                .left_column
                  .texts()
                    .text(data-item="lacoppacs")
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
                .right_column
                  .images
                    .image(data-item="565645d65")
                      img(src="http://placehold.it/1420x1240/0FF/FFF")
                    .image(data-item="56rdtdf654fdg")
                      img(src="http://placehold.it/2420x1400/FF0/000")
                    .image(data-item="asffakkr8",style="opacity: 1; height: 24.0909%;")
                      img(src="http://placehold.it/1240x1620/F00/FFF")
            .page.A4
              #header
                .header()
                  .title(data-item="kjhhhjgkj")
                    | Hejhej title
                .list
              #body
                .left_column
                  .texts()
                    .text(data-item="lacfgcopacs")
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
                .right_column
                  .images
                    .image(data-item="56dfgh5d65")
                      img(src="http://placehold.it/1420x1240/0FF/FFF")
                    .image(data-item="5dfh6df654fdg")
                      img(src="http://placehold.it/2420x1400/FF0/000")
                    .image(data-item="a54sffar8",style="opacity: 1; height: 24.0909%;")
                      img(src="http://placehold.it/1240x1620/F00/FFF")
    
  //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="../aPRINT.js")
  script.
    var print = aPRINT('#template',{
      format: {
        screen: 'A4',
        print: 'A3'
      },
      //- editable: false,
      styles: ['../aPRINT.css','main.css'],
      mirror: true,
      dragImages: {
        '#left .image': 'http://hm/backnn/imgs/static/ui/image.svg'
      },
      template: {
        "first_page": {
          "classes": ["page","A4","project"],
          "children": {
            "first_timestamp": {
              "classes": ["timestamp"]
            },
            "first_header_container": {
              "classes": ["header_container"],
              "children": {
                "header": {
                  "classes": ["header","border"]
                }
              }
            },
            "first_ingress_container": {
              "classes": ["ingress_container"],
              "children": {
                "first_ingress": {
                  "classes": ["ingress","columns"],
                  "children": {
                    "ingress_content_column": {
                      "classes": ["column","content","two_thirds","border"]
                    },
                    "ingress_list_column": {
                      "classes": ["column","list","one_third"]
                    }
                  }
                }
              }
            },
            "first_body_container": {
              "classes": ["body_container"],
              "children": {
                "first_body": {
                  "classes": ["body","columns"],
                  "children": {
                    "first_content_column": {
                      "classes": ["column","content"]
                    }
                  }
                }
              }
            }
          }
        },
        "page": {
          "classes": ["page","A4","project"],
          "children": {
            "timestamp": {
              "classes": ["timestamp"]
            },
            "body_container": {
              "classes": ["body_container"],
              "children": {
                "columns": {
                  "classes": ["columns","body"],
                  "children": {
                    "column": {
                      "classes": ["column","content"]
                    }
                  }
                }
              }
            }
          }
        }
      },
      rules: {
        ".page:not(:first-child)": {
          "repeatable": true
        },
        ".header_container .header": {
          "accept": ".title",
          "replaceable": true,
          "removable": true
        },
        ".ingress .list": {
          "accept": ".header_list",
          "replaceable": true,
          "removable": true
        },
        ".ingress .content": {
          "accept": ".paragraph",
          "removable": true
        },
        ".body .content": {
          "accept": ".image",
          "overflow": "shrinkLastWidth",
          "classes": ["slim","medium","wide"],
          "sortable": true,
          "removable": true
        }
      }
    });
    document.querySelector('#printer').addEventListener('click',(e)=> {
      print.print()
    })
    print.on('update', function(e) {
      const pages = print.body.querySelectorAll('.page')
      Array.from(pages).map( page => {
        const timestamp = page.querySelector('.timestamp')
        const d = new Date(Date.now())
        const day = d.getDate()
        const month = d.getMonth()+1
        const year = d.getFullYear()
        const hours = d.getHours()
        const minutes = d.getMinutes()
        timestamp.innerHTML = `Generated ${day}.${month}.${year} – ${hours}:${minutes}`
      })
    });
    print.on('drop', function(el) {
      if(el.classList.contains('title') && el.closest('.project, .theory')) {
        const textNode = el.firstChild
        let l = textNode.textContent.length
        const range = document.createRange()
        range.selectNodeContents(textNode)
        const height = range.getBoundingClientRect().height
        while(l-- && l > 0 && height === range.getBoundingClientRect().height) {
          range.setEnd(textNode,l)
        }
        range.surroundContents(document.createElement('div'))
      }
    });




